/* Reset some broser defaults */
/* 
Swatch Codes
 Black - #000000
 Persian Indigo - #44196d  68, 25, 109
 Amethyst - #8d75b6
 Periwinkle - #cbbde8
 White - ffffff 

 Resources
 Scroll Snap : https://www.youtube.com/watch?v=ytl6TrroGis
*/


/* 
TODO
Give about image a min width! ***
Shift up footer into narrative page.
Investigate (JS Carosal): 
- https://stackoverflow.com/questions/66400103/creating-a-carousel-in-js
- https://youtu.be/GnK3GCQ_X_k?si=KtmAJrArAeL7zHIj
- https://stackoverflow.com/questions/75576683/creating-an-image-carousel-using-vanilla-javascript

*/
:root{
  --persian-indigo: #44196d;
  --amethyst: #8d75b6;
  --periwinkle: #cbbde8;
} 
html{
  background-color: black;
  scroll-snap-type: y mandatory;
  margin: 0%;
  width: 100%;
  height: 100dvh;
}
body{
  margin: 0;
}
h1 ,h2, h3, p, ul, li{
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}
h1{
  font-size: 3rem;
  margin: 0;
}
h2{
  font-size: 2rem;
  margin: 0;
}
h3{
  font-size: 1rem;
  margin: 0;
}
p{
  font-size: 0.75rem;
  margin: 0;
  margin-bottom: 0.25rem;
}



footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  gap: 1rem;
  scroll-snap-align: end;
  background-color: var(--amethyst);
  box-shadow: 0px 0px 16px 4px #000000;
  padding: 1rem 0;

  ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    li{
      width: 30%;
      a:link, a:visited{
        color: white;
        text-decoration: none;
      }
      a:hover{
        color: var(--periwinkle);
      }
    }
  }
}
.footer-flair{
  height: 1px;
  width: calc(100% - 1rem);
  background-color: white;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  flex:0.2;
  li{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    i{
      font-size: 1rem;
    }
    p{
      position: absolute;
      text-align: center;
    }
  }
}
.links li > a:link, a:visited {
  color: white;
}

.links li > a:hover {
    color: var(--periwinkle);
}

.nav-bar{
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--persian-indigo);
  /* padding: 0 5%; */
  h1{
    color: var(--persian-indigo); 
  }
}
.nav-flair{
  display: none;
}
.nav-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: scroll;
}
.nav-item {
  color: white;
  list-style-type: none;
  font-size: 0.8rem;
  height: 100%;
  position: relative;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: calc(100% + 0.75rem - 0.15rem);
  top: calc(50% - 0.15rem);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background-color: var(--periwinkle);
}
.nav-item:last-child::after {
  display: none;
}

.nav-item > a:link, a:visited {
  color: white;
  text-decoration: none;
}

.nav-item > a:hover {
  color: var(--periwinkle);
}
.nav-item:hover{
  text-decoration: underline;
  text-decoration-color: var(--periwinkle);
}

.image-circular > img{
  border-radius: 50%;
}

.snap-section{
  display: flex;
  position: relative;
  background-color: black;
  scroll-snap-align: start;
  scroll-margin-top: 4rem;
  height: calc(100dvh - 4rem);
  .scroll-container{
    background-color: black;
  }
}
.snap-section:nth-child(even){
  background-color: var(--persian-indigo);
  h1,h2,h3,p{
    color: white;
    }
  .scroll-container{
    background-color: var(--persian-indigo);
  }
  .showcase-text{
    background-color: rgba(68, 25, 109, 0.5);
  }
} 

.section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5% 15%;
}

.multi-section-container{
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  align-items: start;
  justify-self: start;
  margin: 0;
  flex: 1;
}

.horisontal-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}
.horisontal-carousel{
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-snap-align: start;
  margin: 0;
  width: 0%; 
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  /* transition: left 0.25s ,right 0.25s; */
  transition: transform 0.25s;
}
.padded{
  padding: 10vw;
}


.inactive-left{
  transform: translate(-100vw);
  /* left: -100vw; */
}
.inactive-right{
  transform: translate(100vw);
  /* right: -100vw; */
}
.active-item{
  width: 100%;
}

.carousel-button{
  background-color: aliceblue;
  position: absolute;
  bottom: 50vh;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.left{
  left: 2rem;
}
.right{
  right: 2rem;
}

.scroll-nav{
  display: flex;
  position: absolute;
  width: 1rem;
  bottom: 50%;
  border-radius: 50%;
  background-color: white;
}

.text-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap-mode: wrap;
  overflow: hidden;
  flex: 1;
}

.showcase-group{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  img{
    height: 100%;
    object-fit: cover;
  }
} 

.showcase-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  text-wrap-mode: wrap;
  width: 100%;
  bottom: 0;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.center-content{
  align-items: center;
  justify-content: center;
}

.about-image{
  flex: 0.5;
  max-width: 100%;
  object-fit: scale-down;
  min-width: 0;
  min-height: 0;
}
.about-text{
  flex: 0.8;
  gap: 1rem;
  align-items: center;
  text-align: center;
  p{
    text-align: justify;
  }
}

.drop-shadow{
  box-shadow: 0px 0px 16px 4px #00000080;
}

.glow-purple {
  text-shadow: 0px 0px 10px var(--persian-indigo);
}

@media screen and (min-width: 22rem){
  .nav-flair{
    display: block;
    height: 2px;
    flex: 1;
    margin: 1rem;
    background-color: var(--periwinkle);
  }
  .nav-list{
    overflow: visible;
  }
}

@media screen and (min-aspect-ratio: 1.25/1){

  .section-container{
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10vw;
  }
  .about-text{
    text-align: start;
    align-items: start;
    flex: 0.6;
    text-wrap-mode: wrap;
  }
  .about-image{
    flex: 0.2;
    max-width: 12rem;
  }
  .links{
    position: absolute;
    bottom: calc(50% - 7.5rem);
    width: 16%;
    max-width: 12rem;
    justify-content: space-between;
  }
  @media screen and (min-width: 65rem){
    .links{
      bottom: calc(50% - 9rem);
    }
  }
  .multi-section-container{
    grid-auto-flow: column;
  }
}

@media screen and (( min-width: 30rem) and (min-height:30rem)){

  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p{
    font-size: 0.75rem;
  }
  .nav-list{
    flex: 0.5;
    gap: 3rem;
  }
  .nav-item{
    font-size: 1rem;
  }
  .nav-item::after{
    left: calc(100% + 1.5rem - 0.15rem);
    top: calc(50% - 0.15rem);
    height: 0.3rem;
    width: 0.3rem;
  }
  .showcase-text{
    padding: 1.5rem 2rem;
  }
}

 @media screen and (min-width: 60rem) and (min-width: 60rem) {

   h1 {
     font-size: 4rem;
   }

   h2 {
     font-size: 3rem;
   }

   h3 {
     font-size: 2rem;
   }

   p {
     font-size: 1rem;
   }

   @media screen and (min-aspect-ratio: 1/1) {
     .horisontal-scroller {
       width: 100%;
       grid-auto-columns: 50%;
     }

     .scroll-container {
       scroll-snap-align: end;
     }

     .padded {
       z-index: 1;
     }

     .horisontal-scroller :nth-child(1) {
       position: sticky;
       left: 0;
     }

     .multi-section-container {
       grid-auto-flow: row;
     }
   }




}



